@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

body {
	font-family: 'Roboto' !important;
    margin: 0px;
    background: #f3f3f3;
}

.dark-theme {
	background: #505050;
}

/* Track */
.dark-theme ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Handle */
.dark-theme ::-webkit-scrollbar-thumb {
	background: #9b9b9b;
	border-radius: 0px;
	cursor: pointer;
}

.navbar {
    height: 45px;
    padding: 7px 15px;
    line-height: 1;
    background: linear-gradient(180deg,#8449ec,#673ab7);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(103, 58, 183,.4);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.navbar .header-button {
    font-size: 15px;
    border-radius: 2px;
    line-height: 1;
    border-color: #4CAF50 !important;
    background: #4CAF50 !important;
    margin-left: 15px;
}

.navbar .header-button.reset {
    border-color: #F44336 !important;
    background: #F44336 !important;
}


button {
    outline: none !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

button:active {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12) !important;
}

.wrapper {
    padding: 15px 5px 5px 15px;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px!important;
    border-radius: 4px;
    width: 500px;
    text-align: center;
    margin: 0px 10px 10px 0px;
}

.card .card-title {
    height: 45px;
    margin: 0px;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    padding: 12px;
    border-radius: 4px 4px 0px 0px;
    background: linear-gradient(180deg,#03a9f4,#007fb9);
    padding-left: 10px;
    letter-spacing: 0.25px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card .card-details {
    padding: 15px;
}

#save-message {
    font-size: 14px;
    background: #4CAF50;
    color: #fff;
    padding: 7px 15px;
    border-radius: 2px;
    position: absolute;
    text-align: right;
    top: 60px;
    right: 15px;
}

.form-group {
    font-size: 14px;
    margin-bottom: 15px;
}

.form-group:last-child {
    margin-bottom: 0px;
}

.form-group .form-label {
    display: block;
    margin-bottom: 7px;
}

.form-group .form-input {
    font-size: inherit;
    padding: 9px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    outline: none;
    display: block;
    width: 100%;
}

.form-group .btn-group {
    width: 100%;
}

.form-group .btn-group .btn {
    background: #fff !important;
    border: 1px solid #ccc !important;
    border-bottom: 0px !important;
    border-radius: 2px;
    color: #444 !important;
    font-size: 14px;
    text-transform: capitalize;
    text-align: left;
}

.dropdown-menu {
    width: 100%;
    padding: 0px;
    font-size: 14px;
    border-radius: 2px;
    text-transform: capitalize;
}

.dropdown-menu a.dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-toggle::after {
    float: right;
    position: relative;
    top: 9px;
}

.dropdown-menu a.dropdown-item:active {
    background: none;
}

div#reset-modal .modal-header {
    padding: 10px 15px;
    background: linear-gradient(180deg,#F44336, #e7665d);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244, 67, 54,.4);
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
}

div#reset-modal .modal-body {
    padding: 15px;
    font-size: 15px;
    line-height: 1.8;
}

div#reset-modal .modal-dialog {
    max-width: 350px;
    margin: 60px auto;
}

div#reset-modal .modal-content {
    border: none;
    border-radius: 4px;
}

div#reset-modal .modal-footer {
    padding: 10px 15px;
}

div#reset-modal .modal-title {
    font-size: 17px;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

div#reset-modal .modal-footer button.btn {
    font-size: 15px;
    border-radius: 4px;
    min-width: 70px;
}

div#reset-modal .modal-footer button.btn.btn-danger {
    border-color: #F44336 !important;
    background: #F44336 !important;
}

.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
}

.table td,
.table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	cursor: pointer;
	background: #fff;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cecece;
	border-radius: 0px;
	cursor: pointer;
}